.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links.active {
    display: flex;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    height: 25px;
    justify-content: space-between;
  }
  
  .hamburger div {
    width: 35px;
    height: 5px;
    background-color: #fff;
    transition: all 0.3s;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  